{% extends 'base.html.twig' %}

{% block title %}Leave us a message{% endblock %}

{% block body %}
    <h1>Are you facing any issues 😔 ?</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            let country = document.querySelector('#issues_country');

            country.addEventListener("change", function(){
                let form = this.closest("form");
                let data = this.name + '=' + this.value;

                fetch(form.action,{
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded;" +
                        "charset:utf-8"
                    }
                })
                .then(response => response.text())
                .then(html => {
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let newSelect = content.querySelector('#issues_city');
                    document.querySelector('#issues_city').replaceWith(newSelect);
                })
                .catch(error => { console.log(error) })
            })
        }
    </script>
{% endblock %}
